services:
  php:
    build:
      context: ..
      dockerfile: docker/php/Dockerfile
      target: dev
    container_name: ${PROJECT_NAME}_php
    volumes:
      - ../src:/var/www/html:cached
      - ./vendor:/var/www/html/vendor:cached
    networks:
      - ${PROJECT_NAME}

  nginx:
    image: nginx:1.27-alpine
    container_name: ${PROJECT_NAME}_nginx
    ports:
      - "${APP_PORT}:80"
    volumes:
      - ../src:/var/www/html:cached
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - ${PROJECT_NAME}

  mailhog:
    image: mailhog/mailhog
    container_name: "mailhog"
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - ${PROJECT_NAME}

networks:
  PSR:
    driver: bridge
    