services:
  php:
    build:
      context: ..
      dockerfile: docker/php/Dockerfile
      target: dev
    container_name: ${PROJECT_NAME}_php
    user: "${CURRENT_UID:-1000}:${CURRENT_GID:-1000}"  # Запускаем от текущего пользователя хоста
    volumes:
      - ../src:/var/www/html:cached
    networks:
      - ${PROJECT_NAME}

  nginx:
    image: nginx:1.27-alpine
    container_name: ${PROJECT_NAME}_nginx
    ports:
      - "${APP_PORT}:80"
    volumes:
      - ../src:/var/www/html:cached
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - ${PROJECT_NAME}

networks:
  PSR:
    driver: bridge
    